@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");
:root {
  --fontPoppins: "Poppins", sans-serif;
  --fontInter: "Inter", sans-serif;
  font-family: var(--fontPoppins);
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
p,
small,
.beneficios_list li,
input,
textarea {
  font-family: "Inter", sans-serif;
}

.homePage {
  background-image: url("../images/back_full.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul.navbar_desktop li a {
  font-size: 14.8px;
}
.mask {
  background-image: linear-gradient(to bottom, transparent, #18181b);
}
.customizedBackNavbar {
  backdrop-filter: blur(14px);
  background-color: #27272aa9;
}
.logo_letter {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 3s ease-in-out, height 3s ease-in-out;
}
.oculto {
  opacity: 0;
  height: 0;
}

.card_price {
  background-image: linear-gradient(to bottom, #f59e0b, #18181b);
}

textarea {
  resize: none;
}
.backgroundMask,
.offcanvasBack {
  background-color: #24222286;
  backdrop-filter: blur(1px);
}
.animatedBackMask {
  animation: backgroundMaskEffect 0.5s ease-in-out forwards;
}
.share_page {
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.15s ease-in-out;
}
.showBoxShare {
  animation: moveShareBox 0.4s ease-in-out forwards;
}
.closeBoxShare {
  animation: moveShareBoxOut 0.4s ease-in-out forwards;
}
.card_comment {
  background-image: linear-gradient(to bottom, #27272a, transparent);
}
.offcanvas {
  transform: translateX(200%);
  transition: transform 1s ease-in-out;
}
.showOffCanvas {
  animation: showOffCanvas 0.5s ease-in-out forwards;
}
.HideOffCanvas {
  animation: HideOffCanvas 0.5s ease-in-out forwards;
}
.offcanvas {
  width: 26rem;
}
@keyframes showOffCanvas {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes HideOffCanvas {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(200%);
  }
}
@keyframes moveShareBox {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveShareBoxOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes backgroundMaskEffect {
  0% {
    backdrop-filter: blur(1px);
  }
  50% {
    backdrop-filter: blur(2px);
  }
  100% {
    backdrop-filter: blur(5px);
  }
}

@media screen and (max-width: 599px) {
  .offcanvas {
    width: 100%;
  }
}
