/* :root{
    /* .color1 { #eec950 };
.color2 { #dab73c };
.color3 { #c6a528 };
.color4 { #b29314 };
.color5 { #9e8100 }; */
/* .color1 { #935340 };
.color2 { #814331 };
.color3 { #6f3421 };
.color4 { #5c2412 };
.color5 { #4a1402 }; */
:root {
  font-family: "Poppins", sans-serif;
}
body {
  height: 1200px;
  font-size: 16px;
}
.homePage {
  background-image: url("../images/back_full.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul li a {
  font-size: 14.8px;
}
.mask {
  background-image: linear-gradient(to bottom, transparent, #18181b);
}
.customizedBackNavbar {
  backdrop-filter: blur(14px);
  background-color: #27272aa9;
}
.logo_letter {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity 3s ease-in-out, height 3s ease-in-out; /* Adiciona uma transição suave de 0.5 segundos */
}
.oculto {
  opacity: 0;
  height: 0;
}
p,
small , .beneficios_list li{
  font-family: "Inter", sans-serif;
}
.card_price {
  /* background-color: #f59e0b;
    background-color: #18181b; */

  background-image: linear-gradient(to bottom, #f59e0b, #18181b);
}
